{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

{% if user.is_authenticated %}
<h1> Logger System is Activated</h1>
<div class="wrapper">
        <p class="description"> You will Alerted if anything Happens inside the smart room</p>
</div>
<form action="/search/"  method="get" ></form>
<input type="text" name="q">
<input type="submit" value="Search">

<!--
<div>
    {% if 'intruder' in request.GET %}
    <script>
        alert("An Intruder has been detected");
    </script>
    {% elif 'fire' in request.GET %}
    <script>
        alert("Fire has been detected");
    </script>
    {% endif %}
</div>
-->
<div>
    {% else %}
    <h1> Please Login ! </h1>
    {% endif %}
    {% endblock %}