{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

{% if user.is_authenticated %}
<div>  
    {% if 'intruder' in request.GET %}
    <script>
        let intruderAlert = confirm("An Intruder has been detected");
        alert(intruderAlert);
    </script>    
    {% elif 'fire' in request.GET %}
    <script>
        let fireAlert = confirm("Fire has been detected");
        alert(fireAlert);
    </script>
    {% endif %}
</div>
<div>
{% else %}
<h1> Please Login ! </h1>
{% endif %}
{% endblock %}