{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

{% if user.is_authenticated %}
<h1> You Are  {{ user.username }} </h1>
<div>
    <form method="post" action="">
        {% csrf_token %}
        <div class="wrapper">
                {{ form }}
            <input class="input" placeholder="Please Enter IP Address" type="text">
            <span class="underline"></span>
            <button name="secure" value="1" class="btn third" type="submit">Secure Mode</button>
            <button name="normal" value="0" class="btn fourth" type="submit">Normal Mode</button>
        </div>
    </form>
</div>
<div>
{% else %}
<h1> Please Login ! </h1>
{% endif %}
{% endblock %}