{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

{% if user.is_authenticated %}
<h1> You Are  {{ user.username }} </h1>
<div>
    <form method="post" action="">
        {% csrf_token %}
        <div class="wrapper">
                {{ form }}
            <button name="secure" value="1" class="btn second" type="submit">Submit</button>
            <p class="description">Append IP Address with your mode.</p>
            <br>
            <br>
            <p class="description">* 1 Secure Mode</p>
            <br>
            <p class="description">* 0 Normal Mode</p>
        </div>
    </form>
    <form method="get" action="../../logger/">
        <button class="btn fourth">Logger</button>
</form>
</div>
<div>
{% else %}
<h1> Please Login ! </h1>
{% endif %}
{% endblock %}