<!-- templates/home.html -->

{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  
  
  <h1>Team Palindrome</h1>
<div align="center" class="row">
  <div class="col-sm-6">
    <button class="btn second">Secure Mode</button>
  </div>
  <div class="col-sm-4">
    <button class="btn first">Normal Mode</button>
  </div>
</div>
{% else %}
  <h1 >Team Palidome </h1>
  <form method="get" action="{% url 'login' %}">
        <button class="btn second" >Login</button>
    </form>
{% endif %}
{% endblock %}