<!-- templates/home.html -->

{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  
  
<h1>Who doesn't like fun buttons?</h1>

<button class="btn third">Button 3</button>
<button class="btn third">Button 3</button>

<p>Inspiration for new ways to make interactive buttons using linear-gradients, box-shadows, and pseudo classes!</p>
{% else %}
  <h1>Team Palindrome</h1>
  <a href="{% url 'login' %}">login</a>

{% endif %}
{% endblock %}